.footer-section{
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap; 
  padding: 20px;
  justify-content: space-around;
  gap: 20px;
.footer-content1{
  display: grid;
  gap: 20px;
  p {
    max-width: 30rem;
  }
}
.footer-content2{
  display: grid;
  gap: 10px;
  .p-coll{
    display: grid;
    gap: 8px;
  }
}
.footer-content3{
  display: grid;
  gap: 10px;
  .p-coll{
    display: grid;
    gap: 8px;
  }
}
}
@media(0<width<600px){
  .footer-section{
    width: 33rem;
  }
}
