.footer-section{
  background-color: slateblue;
  color: white !important;
  display: flex;
  flex-wrap: wrap; 
  padding: 20px;
  justify-content: space-around;
  gap: 20px;
.footer-content1{
  display: grid;
  gap: 20px;
  
  p {
    max-width: 30rem;
  }
}
.footer-content2{
  display: grid;
  gap: 10px;
  .p-coll{
    display: grid;
    gap: 8px;
  }
}
.footer-content3{
  display: grid;
  gap: 10px;
  .p-coll{
    display: grid;
    gap: 8px;
  }
}
}
@media(0<width<600px){
  .footer-section{
    width: 33rem;
  }
}
.iconss{
  color: white;

}
.iconss:hover{
  color: black;
  font-size: 20px;
}
.log{
  margin-left: 3px;
  color: white;
}